a {
    color: white;
    text-decoration: none;
}

.addofficeform {
    min-height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 249);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.removeofficeform {
    min-height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 249);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.editofficeform {
    min-height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 249);
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.show {
    display: block;
}

.hide {
    display: none;
}


