.addofficeform {
    min-height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 249);
    position: absolute;
    top: 0;
}

.removeofficeform {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(240, 240, 249);
    position: fixed;
    top: 0;
}

.editofficeform {
    min-height: 100%;
    width: 100%;
    background-color: rgb(240, 240, 249);
    position: absolute;
    top: 0;
}

.show {
    display: block;
}

.hide {
    display: none;
}